@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Montserrat", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif;
  font-style: italic;
}

.primary-btn {
  color: #4b4b40 !important;
  border: 1px solid #4b4b40 !important;
  background-color: #fff !important;
  padding: 10px 25px !important;
  font-weight: 600 !important;
  border-radius: 30px !important;
}

.primary-btn:hover {
  background-color: #4b4b40 !important;
  color: #ffffff !important;
  padding: 10px 25px !important;
  font-weight: 600 !important;
  border-radius: 30px !important;
}

.story-btn {
  color: #4b4b40;
  background-color: #fdfcf9;
  font-weight: 500;
  padding: 7px;
  border-radius: 17px;
  width: 300px;
  cursor: pointer;
}

.story-btn:hover {
  color: #fdfcf9;
  background-color: #4b4b40;
  font-weight: 500;
  padding: 7px;
  border-radius: 17px;
  width: 300px;
  border: 1px #ffffff solid;
}

.logo-container {
  display: flex;
}

.logo {
  width: 37px;
  margin-right: 10px;
}

.york-excerpt-line {
  border: 0.5px solid #ffffff;
  width: 100px;
  margin-bottom: 30px;
}

.excerpt-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
